# Папка сборки Maven (создаётся автоматически)
target/

# Файлы конфигурации IntelliJ IDEA (лично для вас, не для всех)
.idea/
*.iml

# Резервные копии, которые создаёт Maven при обновлении версий
pom.xml.versionsBackup

# Разные временные файлы
*.log
.DS_Store

# Кэши и временные папки VS Code (если используете)
.vscode/

# Результаты тестов Allure (создаются при запуске)
allure-results/
allure-report/